@page
@model BookWebApp.Pages.Books.IndexModel

<div class="row align-items-center">
    <div class="col-6">
        <h1>Book List</h1>
    </div>
    <div class="col-6">
        <a asp-page="Create" class="btn btn-primary d-flex align-items-center ms-auto" style="width: fit-content;"><iconify-icon icon="material-symbols:add" class="me-2"></iconify-icon> Create New Book</a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @foreach (var book in Model.Books)
        {
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.Quantity</td>
            </tr>
        }
    </tbody>
</table>